/* -----strictly js----- */
.hiding {
	display:none;
}
.changing-content > div {
display:block;
}

/* -----GENERAL STYLES/APPLIED THROUGHOUT----- */

body {
	margin:0 auto;
}
* {
	color:black;
}
h1 {
	text-align:center;
	margin:0;
}
a {
	font-weight:normal;
	text-decoration:none;
}
ul {
	margin-left:1em;
	padding-left:1em;
}
.wrap {
	margin:0 auto;
	width: 960px;
}


/* -----TOP OF PAGE----- */

.top-background {
	height: 231px;
	background:url(images/header-bg.png) repeat-x;
}

header {
	padding-top:3em;
}




/* -----NAV POSITIONING/STYLES----- */

.main-nav {
	text-align: center;
	margin-top: 1.5em;
}
.main-nav ul, .main-nav li {
	display:inline;
}
.main-nav li {
	list-style:none;
	padding:0 20px;
	border-left:1px solid black;
	border-top:1px solid black;
	padding-top:.5em;
}
/* FIX THE FOLLOWING TWO */

.main-nav-first {
	border-left: none !important;
}

.sub-nav{
	margin-top:1.5em;
}
.sub-nav ul, .sub-nav li{
	display:inline;
}
.sub-nav li {
	list-style:none;
	padding:0 20px;
	border-left:1px solid black;
}
.about-sub-nav {
	margin-left:16.2em;
}
.piano-services-sub-nav {
	margin-left:21.5em;
}
.pianos-for-sale-sub-nav {
	
}
li:first-child {
	border-left:none;
}

.selected {
	font-weight:bold;
}

/* -----CENTRAL PAGE----- */

.side-nav-section {
	
}
	.side-nav {
		
	}
		
.central-content {

}
.audio-section {
	
}
	.listen-prompt {
	
	}
	.audio-player {
	
	}
	
/* -----BOTTOM OF PAGE----- */

.bottom-background {
	
}
footer {
	
}



