/* -----strictly js----- */
.hiding {
	display:none;
}
.selected {
	font-weight:bold;
}
.selected p{
	font-weight:normal;
}
.changing-content > div.selected {
	display:block;			
}

/* -----GENERAL STYLES/APPLIED THROUGHOUT----- */

body {
	background:url(images/david-andersen-pianos-bg.jpg) no-repeat;
	margin:0 auto;
}
* {
	color:black;
	/* font-family: "myriad-pro-condensed"; bold is font weight 700*/
}
h2, h3, h4, h5, h5, ul, li, a, p {
	font-family: "myriad-pro";
}
h1 {
	border-top:1px solid black;
	padding-top:.5em;
	text-align:center;
	margin:0 auto;
	display:block;
	width:800px;

}
h1 a {
	font-family: "ff-market-web";
	text-shadow: 2px 2px #C69C6D;
	font-size: 1.2em;
}
a {
	font-weight:normal;
	text-decoration:none;
}
p{	
	padding: 0 3em;
}
h2, h3, h4, h5, h6 {
	padding-left:2em;
	margin-top:0;
	padding-top:.5em;
}
ul {
	margin-left:1em;
	padding-left:1em;
}
.wrap {
	margin:0 auto;
	width: 960px;
}
/* CLEAR-FIX	 */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
} 
/* END CLEAR-FIX*/



/* -----TOP OF PAGE----- */

.top-background {
	height: 231px;
	background:url(images/header-bg.png) repeat-x;
}

header {
padding-top:2em;

}

.main-nav {
	text-align: center;
	text-transform:uppercase;
}
.main-nav ul{
	border-top:1px solid black;

}
.main-nav ul, .main-nav li {
	display:inline-block;
}
.main-nav li {
	list-style:none;
	padding:0 20px;
	border-left:1px solid black;
	padding-top:.5em;
}
.main-nav li a {
	font-family: "myriad-pro-condensed";
	font-size:1.2em;
	}
	


/* jena couldint figure out how to get it 
	to over-ride the general border left without messin around 
	too much at critical js time */
.first-main-nav-item, .first-sub-nav-item {
	border-left:none !important; 
}
.sub-nav{
	font-family:"myriad-pro-condensed";
}
.sub-nav ul, .sub-nav li{
	display:inline-block;
}
.sub-nav li {
	list-style:none;
	padding:0 20px;
	border-left:1px solid black;
	
}
 /* jena verify below */
.about-sub-nav {
	margin-left:16.2em;
}
.piano-services-sub-nav {
	margin-left:21.5em;
 }



/* -----CENTRAL PAGE----- */

.side-nav-section {
	width:210px;
	display:inline-block;
	vertical-align:top;
}
	.side-nav-section p {
		color:white;
	
	}
	.side-nav {
		background-color:rgba(0,0,0,0.5);
		padding: 1em 0;
		width:200px;
		margin-top:3em;
		float:right;

	}
	.side-nav ul {
		border-left:1px solid white;
	}
	.side-nav li {
		color:white;
		list-style:none;
		padding:.5em 0;
	
	}
	.side-nav li a, .side-nav a{
		color:white;
	}
	
		
.central-section {
	width:700px;
	display:inline-block;
}
	.central-section-content {
		width:600px;
		min-height: 450px;
		background-color:white;
		float:left;
		margin-left:-3px;
		margin-top:2em;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
	}
	.static-content {
		background-color: rgb(200, 200, 200);
		-moz-border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0; /* future proofing */
		-khtml-border-radius: 10px 10px 0 0; /* for old Konqueror browsers */
	}
	.static-content p {
		font-weight:bold;
		margin-top:0;
		padding-top:1em;
		padding-bottom:1em;
	}
	.changing-content ul {
		list-style-position: inside;
		display:block;
		}
	
.audio-section {
	
}
	.listen-prompt {
	
	}
	.audio-player {
	
	}
	
/* -----BOTTOM OF PAGE----- */

.bottom-background {
	
}
footer {
	
}



